@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #740CDC;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
